:root {
    /* Paletas de cores */
    --cor-preta-minimal: #212b38;
    --cor-preta-fraca-minimal: #37465b;
    --cor-azul-pouco-escuro-minimal: #08c6ab;
    --cor-azul-claro-minimal: #5affe2;
    --cor-roxo-minimal: #726eff;
    --cor-preta-cinza: #29282c;

    --fonte-roboto: 'Roboto Mono', monospace;;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-roboto);
}

body {
    background-color: var(--cor-preta-cinza);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: var(--fonte-roboto);
    border: 5px solid white;
    border-radius: 15px;
    padding: 8px 10px;
}

.linha {
    margin: 15px;
    margin-top: 20px;
    width: 300px;
    height: 2px;
    background-color: white;
}

.caixa {
    border-radius: 50px;
    width: 350px;
    height: 300px;
    background-color: var(--cor-roxo-minimal);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    text-decoration: none;
}

.bc,a {
    border-radius: 50px;
    text-decoration: none;
    color: black;
    height: 50px;
    width: 110px;
    margin: 10px;
    font-size: 15px;
}

.bc:hover {
    background-color: var(--cor-azul-pouco-escuro-minimal);
    border-radius: 50px;
    text-decoration: none;
    color: black;
    height: 50px;
    width: 110px;
    margin: 10px;
    font-size: 15px;
}